* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
}

html,
body {
    width: 100%;
    height: 100%;
    background: #ee9ca7;
    background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7) fixed;
    background: linear-gradient(to right, #ffdde1, #ee9ca7) fixed;
    background-repeat: none;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    margin: 0;
}

.body-container {
    height: 100vh;
    width: 80vw;
    margin: 0 auto;
    padding: 0 2%;
}

.logo-container {
    padding: 3% 0 0 0;
    margin: 0 auto;
    width: 100%;
    color: #fff;
}

.logo-container i {
    margin: 1% auto;
}

#header,
#title {
    font-size: 12px;
    line-height: 2rem;
}

.nes-badge {
    font-size: 12px;
}

.nes-badge:hover {
    cursor: url(https://unpkg.com/nes.css@2.1.1/assets/cursor.png), auto;
}

a:hover {
    text-decoration: none;
}

#projects {
    width: 50vw;
    margin: 0 auto;
}

.links-container {
    margin-top: 1rem;
}

#projects li {
    margin: 9px 0;
}

.nes-flex {
    width: 80%;
}